@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");
*::selection {
  background-color: #1266F1;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #1266F1;
  border-radius: 3px;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0;
}

.brand-heading {
  font-family: "Fleur De Leah", cursive;
  font-size: 3em;
}

.button {
  background: transparent;
  border: 1px solid #303030;
  outline: none;
  padding: 10px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
}

.button-primary, .button-primary-outline:hover {
  background: #1266F1;
  color: #fff;
  border: 2px solid transparent;
  font-weight: 600;
}

.button-primary-outline {
  background-color: transparent;
  border: 2px solid #1266F1;
  color: #1266F1;
  font-weight: 600;
}
.home-link {
  color: #303030;
}
.home-link:hover {
  color: #303030;
}

.bg-img {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/bg-img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.nav-item {
  padding: 0 15px;
}
.nav-item:hover {
  background-color: #e2e2e2;
  border-radius: 3px;
}

.decorative {
  display: block;
  font-family: "Fleur De Leah", cursive;
  font-size: 2em;
}

.main .aboutus,
.main .surroundings {
  min-height: 100vh;
}
.main p#aboutus {
  font-size: 1.2em;
  line-height: 2em;
}

.scroll-down {
  display: block;
  width: fit-content;
  color: #303030;
}
.scroll-down:hover {
  color: #303030;
}
.scroll-down i {
  font-size: 2em;
}

.icons-gallery .icon-gallery-item {
  height: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.icons-gallery .icon-gallery-item i {
  font-size: 5em;
}
.icons-gallery .icon-gallery-item h2 {
  padding-top: 20px;
}
.icons-gallery .icon-gallery-item small {
  display: block;
  font-size: 1em;
  padding: 10px;
}

@media only screen and (max-width: 990px) {
  .decorative {
    display: none;
  }

  .nav-item:hover {
    background-color: transparent;
  }
}
.form-control:focus ~ .form-label {
  color: #1266F1;
}

.form-control:focus ~ .form-notch .form-notch-middle {
  border-bottom: 0.125rem solid;
  border-color: #1266F1;
}

.form-control:focus ~ .form-notch .form-notch-leading {
  border-right: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.form-control:focus ~ .form-notch .form-notch-trailing {
  border-left: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.form-control:focus ~ .form-notch .form-notch-leading {
  border-top: 0.125rem solid #1266F1;
  border-bottom: 0.125rem solid #1266F1;
  border-left: 0.125rem solid #1266F1;
}

.form-control:focus ~ .form-notch .form-notch-trailing {
  border-top: 0.125rem solid #1266F1;
  border-bottom: 0.125rem solid #1266F1;
  border-right: 0.125rem solid #1266F1;
}

/*# sourceMappingURL=main.css.map */
