@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body *::before,
body *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #1266F1;
  border-radius: 3px;
}

::selection {
  background-color: #1266F1;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0;
}

.brand-heading {
  font-family: "Fleur De Leah", cursive;
  font-size: 3em;
}

.list {
  list-style-type: none;
}

.button {
  background: transparent;
  border: 1px solid #303030;
  outline: none;
  padding: 10px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
}

.button-primary, .button-primary-outline:hover {
  background: #1266F1;
  color: #fff;
  border: 2px solid transparent;
  font-weight: 600;
}

.button-primary-outline {
  background-color: transparent;
  border: 2px solid #1266F1;
  color: #1266F1;
  font-weight: 600;
}
.decorative {
  display: block;
  font-family: "Fleur De Leah", cursive;
  font-size: 2em;
}

.home-link {
  color: #303030;
}
.home-link:hover {
  color: #303030;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg-img-1.jpg);
}

.nav-item {
  padding: 0 15px;
  min-height: 40px !important;
  max-height: 40px !important;
  text-align: center;
}
.nav-item:hover {
  background-color: #e2e2e2;
  border-radius: 3px;
}

.fix-size {
  max-height: 45px !important;
  min-height: 45px !important;
}

.main .aboutus,
.main .surroundings {
  min-height: 100vh;
}
.main .aboutus {
  font-size: 1.2em;
  line-height: 2em;
}

.surroundings-gallery .surroundings-gallry__item {
  height: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.surroundings-gallery .surroundings-gallry__item .surroundings-gallery__icon {
  font-size: 5em;
}
.surroundings-gallery .surroundings-gallry__item .surroundings-gallery__heading {
  padding-top: 20px;
}
.surroundings-gallery .surroundings-gallry__item .surroundings-gallery__description {
  display: block;
  font-size: 1em;
  padding: 10px;
}

.contact-col {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas: "img1 img1 img2 img5" "img3 img4 img4 img8" "img6 img6 img7 img8";
}
@media only screen and (max-width: 1100px) {
  .image-gallery {
    grid-template-areas: "img1 img1 img6 img6" "img8 img3 img2 img2" "img5 img4 img4 img7";
  }
}
@media only screen and (max-width: 770px) {
  .image-gallery {
    grid-template-areas: "img1 img1 img1 img1" "img3 img3 img2 img2" "img3 img3 img8 img8" "img5 img5 img8 img8" "img4 img4 img7 img7" "img6 img6 img6 img6";
  }
}
@media only screen and (max-width: 550px) {
  .image-gallery {
    grid-template-areas: "img1 img1 img1 img1" "img2 img2 img2 img2" "img3 img3 img3 img3" "img4 img4 img4 img4" "img5 img5 img5 img5" "img6 img6 img6 img6" "img7 img7 img7 img7" "img8 img8 img8 img8";
  }
}
.image-gallery .photo-gallery__item {
  width: 100%;
  height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
@media only screen and (max-width: 1100px) {
  .image-gallery .photo-gallery__item {
    min-height: 10rem;
    height: 10rem;
  }
}
@media only screen and (max-width: 770px) {
  .image-gallery .photo-gallery__item {
    min-height: 10rem;
    height: 10rem;
  }
}
@media only screen and (max-width: 550px) {
  .image-gallery .photo-gallery__item {
    min-height: 15rem;
    height: 15rem;
  }
}
.image-gallery .photo-gallery__item .expand-photo__icon {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  position: relative;
  z-index: 100;
  padding: 1rem 2rem;
  border: 0.125em solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.5s;
}
.image-gallery .photo-gallery__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.5s;
}
.image-gallery .photo-gallery__item:hover .expand-photo__icon, .image-gallery .photo-gallery__item:hover::before {
  opacity: 1;
}
.image-gallery .img-1 {
  grid-area: img1;
  background-image: url("../img/gallery/budowa.jpg");
}
.image-gallery .img-2 {
  grid-area: img2;
  background-image: url("../img/gallery/budowa2.jpg");
}
.image-gallery .img-3 {
  grid-area: img3;
  background-image: url("../img/gallery/chaber.jpg");
}
@media only screen and (max-width: 770px) {
  .image-gallery .img-3 {
    min-height: 21rem;
  }
}
.image-gallery .img-4 {
  grid-area: img4;
  background-image: url("../img/gallery/malaczantoria.jpg");
}
.image-gallery .img-5 {
  grid-area: img5;
  background-image: url("../img/gallery/bela.jpg");
}
.image-gallery .img-6 {
  grid-area: img6;
  background-image: url("../img/gallery/widokzrownicy.jpg");
}
.image-gallery .img-7 {
  grid-area: img7;
  background-image: url("../img/gallery/wodospad.jpg");
}
.image-gallery .img-8 {
  grid-area: img8;
  min-height: 31rem;
  background-image: url("../img/gallery/porzeczki.jpg");
}
@media only screen and (max-width: 1100px) {
  .image-gallery .img-8 {
    min-height: 10rem;
    height: 10rem;
  }
}
@media only screen and (max-width: 770px) {
  .image-gallery .img-8 {
    min-height: 21rem;
  }
}

/*# sourceMappingURL=main.css.map */
