//colors
$primary-color: #1266F1;
$secondary-color: #8f6900;
$white: #fff;
$black: #000;
$light: #e2e2e2;
$light-half-transparent: rgba(255, 255, 255, .5);
$dark: #303030;
$dark-half-transparent: rgba(0, 0, 0, 0.8);

//fonts
$font-color: $dark;
$font-family: 'Poppins', sans-serif;
$font-family-decorative: 'Fleur De Leah', cursive;

//photos
$img1: url('../img/gallery/budowa.jpg');
$img2: url('../img/gallery/budowa2.jpg');
$img3: url('../img/gallery/chaber.jpg');
$img4: url('../img/gallery/malaczantoria.jpg');
$img5: url('../img/gallery/bela.jpg');
$img6: url('../img/gallery/widokzrownicy.jpg');
$img7: url('../img/gallery/wodospad.jpg');
$img8: url('../img/gallery/porzeczki.jpg');