//alternative button styles

.button{
    background: transparent;
    border: .05rem solid $dark;
    outline: none;
    padding:  .7rem 1rem;
    border-radius: .25rem;
    text-transform: uppercase;

    &:hover{
        cursor: pointer;
    }
    
    transition: all .2s;
}

.button-primary{
    background: $primary-color;
    color: $white;
    border: .125rem solid transparent;
    font-weight: 600;
}

.button-primary-outline{
    background-color: transparent;
    border: .125rem solid $primary-color;
    color: $primary-color;
    font-weight: 600;

    &:hover{
        @extend .button-primary;
    }
}