$img1: url('../img/gallery/budowa.jpg');
$img2: url('../img/gallery/budowa2.jpg');
$img3: url('../img/gallery/chaber.jpg');
$img4: url('../img/gallery/malaczantoria.jpg');
$img5: url('../img/gallery/bela.jpg');
$img6: url('../img/gallery/widokzrownicy.jpg');
$img7: url('../img/gallery/wodospad.jpg');
$img8: url('../img/gallery/porzeczki.jpg');