$img1: url('../../img/gallery/bg-img-1.jpg');
$img2: url('../../img/gallery/building.jpg');
$img3: url('../../img/gallery/chaber.jpg');
$img4: url('../../img/gallery/malaczantoria.jpg');
$img5: url('../../img/gallery/wnetrze.jpg');
$img6: url('../../img/gallery/sarny.png');
$img7: url('../../img/gallery/wodospad.jpg');
$img8: url('../../img/gallery/szczepanski.jpg');