.decorative{
    display: block;
    font-family: $font-family-decorative;
    font-size: 2rem;
}

.home-link{
    color: $font-color;

    &:hover{
        color: $font-color;
    }
}

.bg-img{
    @include centerBackgroundImg();
    
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/bg-img-1.jpg);
}

.nav-item{
    padding: 0 1rem;
    min-height: 2.5rem !important;
    max-height: 2.5rem !important;
    text-align: center;

    &:hover{
        background-color: $light;
        border-radius: .18rem;
    }
}

.fix-size{
    max-height: 2.8rem !important;
    min-height: 2.8rem !important;
}