.decorative {
    display: block;
    font-family: $ff-decorative;
    font-size: 2em;
}

.home-link{
    color: $font-color;

    &:hover{
        color: $font-color;
    }
}

.bg-img{
    height: 100vh;
    background-image: linear-gradient(

        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)

    ), url(../img/bg-img-1.jpg);

    @include centerBackgroundImg();
}

.nav-item{
    padding: 0 15px;
    min-height: 40px !important;
    max-height: 40px !important;
    &:hover{
        background-color: $light;
        border-radius: 3px;
    }
}

.fix-size{
    max-height: 45px !important;
    min-height: 45px !important;
}