*::selection{
    background-color: $primary-color;
    color: $white;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: $secondary-color;
    border-radius: 3px;
}

body{
    margin: 0;
    padding: 0;
}