*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background-color: $primary-color;
    color: $white;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: $primary-color;
    border-radius: 3px;
}