*{
    font-family: $font-family;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    margin: 0;
}

.brand-heading{
    font-family: $font-family-decorative;
    font-size: 3em;
}

.list{
    list-style-type: none;
}