.decorative {
    display: block;
    font-family: $ff-decorative;
    font-size: 2em;
}

.main {

    .aboutus,
    .surroundings {
        min-height: 100vh;
    }

    p#aboutus {
        font-size: 1.2em;
        line-height: 2em;
    }
}

.scroll-down{
    display: block;
    width: fit-content;
    color: $font-color;

    &:hover{
        color: $font-color;
    }
    
    i{
        font-size: 2em;
    }
}

.icons-gallery {
    .icon-gallery-item {
        height: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column;

        i {
            font-size: 5em;
        }

        h2 {
            padding-top: 20px;
        }

        small {
            display: block;
            font-size: 1em;
            padding: 10px;
        }
    }
}

@media only screen and (max-width: 990px) {
    .decorative {
        display: none;
    }

    .nav-item:hover {
        background-color: transparent;
    }
}

.form-control:focus ~ .form-label{
    color: $primary-color;
}

.form-control:focus ~ .form-notch .form-notch-middle{
    border-bottom:.125rem solid;
    border-color: $primary-color;
}

.form-control:focus ~ .form-notch .form-notch-leading{
    border-right:none;
    -webkit-transition:all .2s linear;
    transition:all .2s linear
}

.form-control:focus~.form-notch .form-notch-trailing{
    border-left:none;
    -webkit-transition:all .2s linear;
    transition:all .2s linear
}

.form-control:focus~.form-notch .form-notch-leading{
    border-top:.125rem solid $primary-color;border-bottom:.125rem solid $primary-color;border-left:.125rem solid $primary-color;
};

.form-control:focus~.form-notch .form-notch-trailing{
    border-top:.125rem solid $primary-color;border-bottom:.125rem solid $primary-color;border-right:.125rem solid $primary-color;
}