.main {

    .aboutus,
    .surroundings {
        min-height: 100vh;
    }

    .aboutus {
        font-size: 1.2em;
        line-height: 2em;
    }
}

.surroundings-gallery {
    
    .surroundings-gallry__item {
        height: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column;

        .surroundings-gallery__icon {
            font-size: 5em;
        }

        .surroundings-gallery__heading {
            padding-top: 20px;
        }

        .surroundings-gallery__description {
            display: block;
            font-size: 1em;
            padding: 10px;
        }
    }
}

@media only screen and (max-width: 990px) {
    .decorative {
        display: none;
    }

    .nav-item:hover {
        background-color: transparent;
    }
}