$primary-color: #1266F1;
$secondary-color: #8f6900;
$white: #fff;
$black: #000;
$light: #e2e2e2;
$light-half-transparent: rgba(255, 255, 255, .5);
$dark: #303030;
$dark-half-transparent: rgba(0, 0, 0, 0.8);
$font-color: $dark;